<!--     EXTERNAL REQUESTOR   ////////////////////////////////////////////////////////////////////////////////////// -->
<section class="extRequestor show-hide"  ng-show="extRequestorList.length >0">
   
    <div id="extRequestor" class="show-hide" >
        <div class="sub-title">External Requestor
            <div class="tabPos-btn addReqestor-btn" style="padding-right:0px">
                <a href="" ng-click="addExtRequestor()"  >Add an External Requestor</a>
            </div>
        </div>
        <div class="show-hide" ng-repeat="extRequestor in extRequestorList track by $index">   
            <div class="h-sep" style="margin:15px 0 20px 0" ng-show="$index >0"></div>
        <div class="row  show-hide">
            <div class="col-sm-4 form-group">
                <div class="sharedCol4">
                    <label  >Department:</label>
                    <input type="text" ng-model="extRequestor.department" class="form-control"   />
                </div>
            </div>

            <div class="col-sm-4 form-group">
                <div class="sharedCol4">
                    <label  >Title:</label>
                    <input type="text" ng-model="extRequestor.title" class="form-control"  />
                </div>
            </div>

            <div class="col-sm-4 form-group">
                <div class="sharedCol4">
                    <label  >Contact Number:</label>
                    <input type="text" ng-model="extRequestor.contactNumber" class="form-control"  />
                </div>
                <div  ng-show="!addExtNumber">
                    <span class="add-btn"><a href="" ng-click="addExtNumber = true"></a></span>
                </div>
            </div>
            
        </div>
        <div class="row" ng-show="addExtNumber">
            <div class="col-sm-8 form-group"></div>
            <div class="col-sm-4 form-group">
                <div class="sharedCol4">
                    <label >Cell Phone:</label>
                    <input type="text" ng-model="extRequestor.cellNumber" class="form-control" />
                </div>
                <div ng-show="addExtNumber">
                    <span class="remove-btn"><a href="" ng-click="addExtNumber = false"></a></span>         
                </div>
            </div>
        </div>   
      
        <div class="row">
            <div class="col-sm-4 form-group">
                <div class="sharedCol4">
                    <label  >First Name:</label>
                    <input type="text" ng-model="extRequestor.name.firstName" class="form-control"  />
                </div>
            </div>

            <div class="col-sm-4 form-group">
                <div class="sharedCol4">
                    <label >Last Name:</label>
                    <input type="text" ng-model="extRequestor.name.lastName" class="form-control"   />
                </div>
            </div>
            
                <div class="col-sm-4 form-group">
                    <div class="sharedCol4">
                        <label >Email:</label>
                        <input type="text" ng-model="extRequestor.email" class="form-control"   />
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>