<form role="form">
    <section class="guardian" ng-repeat="guardian in guardianList track by $index">
        <div ng-show="$index >0"  class="pers-sep"></div>
<!-- TITLE ///////////////////////////////////////////////////////////////////////////// -->
        <div class="sub-title">Guardian {{$index + 1}}
            <div style="float: right">
                <label>
                <input type="checkbox" ng-model="guardian.person.isSearchable"><span class="headerLabel" style="padding-right:20px"> Conduct Searches</span>
                </label>
                <label>
                    <input type="checkbox" ng-model="guardian.person.isInReport"><span class="headerLabel">  Include in Report </span>
            </label>
            </div>
        </div>
<!-- NAMES ///////////////////////////////////////////////////////////////////////////// -->
        <section class="name" ng-repeat="name in guardian.person.names track by $index">
            <div class="row ">
                <div class="col-sm-4 form-group">
                    <div class="sharedCol4">
                        <label>First Name: </label>
                        <input type="text" class="form-control" ng-model="name.firstName" />
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <div class="sharedCol4">
                        <label>Middle Name: </label>
                        <input type="text" class="form-control" ng-model="name.middleName" />
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <div class="sharedCol4">
                        <label>Last Name: </label>
                        <input type="text" class="form-control" ng-model="name.lastName" />
                    </div>
                    <div>
                        <span class="remove-btn" ng-show="$index >0"><a href="" ng-click="removeFromList(guardian.person.names, $index)"></a></span>
                        <span class="add-btn" ng-show="$last"><a href="" ng-click="addObjectToList(guardian.person.names, $index)"></a></span>
                    </div>
                </div>
             
            </div>
        </section>
<!-- GENDER RELATION EMAIL ////////////////////////////////////////////////////////////////////////// -->
        <div class="row ">
            <div class="col-sm-4 form-group">
                <div class="sharedCol4">
                    <label>Gender: </label>
                    <input type="text" class="form-control" ng-model="guardian.person.gender.value" />
                </div>
            </div>
            <div class="col-sm-4 form-group">
                <div class="sharedCol4">
                    <label>Relation to Child: </label>
                    <input type="text" class="form-control" ng-model="guardian.relationToChild.value"  />
                </div>
            </div>
            <section class="email"  ng-repeat="guardianEmail in guardian.emails track by $index">
                <div class="col-sm-4 form-group">
                    <div class="sharedCol4">
                        <label>Email: </label>
                        <input type="text" class="form-control" ng-model="guardianEmail.value" />
                    </div>
                    <div>
                        <span class="remove-btn" ng-show="$index >0"><a href="" ng-click="removeFromList(guardian.emails, $index)"></a></span>
                         <span class="add-btn" ng-show="$last"><a href="" ng-click="addToList(guardian.emails, $index)"></a></span>
                    </div>
                </div>
            </section>
<!-- HOME PHONE  ///////////////////////////////////////////////////////////////////////////// -->
            <section class="homephone"  ng-repeat="homephone in guardian.person.homePhones track by $index">
                <div class="col-sm-4 form-group">
                    <div class="sharedCol4">
                        <label>Home Phone: </label>
                        <input type="text" class="form-control" ng-model="homephone.value" />
                    </div>
                    <div>
                        <span class="remove-btn" ng-show="$index >0"><a href="" ng-click="removeFromList(guardian.person.homePhones, $index)"></a></span>
                        <span class="add-btn" ng-show="$last"><a href="" ng-click="addToList(guardian.person.homePhones, $index)"></a></span>
                    </div>
                </div>
                    
             </section>
<!-- CELL PHONE  ///////////////////////////////////////////////////////////////////////////// -->
            <section class="cellphone"  ng-repeat="cellphone in guardian.person.cellPhones track by $index">
                <div class="col-sm-4 form-group">
                    <div class="sharedCol4">
                        <label>Cell Phone: </label>
                        <input type="text" class="form-control" ng-model="cellphone.value" />
                    </div>
                    <div>
                        <span class="remove-btn" ng-show="$index >0"><a href="" ng-click="removeFromList(guardian.person.cellPhones, $index)"></a></span>
                        <span class="add-btn" ng-show="$last"><a href="" ng-click="addToList(guardian.person.cellPhones, $index)"></a></span>
                    </div>
                </div>   
             </section>
<!-- SSN  ///////////////////////////////////////////////////////////////////////////// -->
            <section class="ssn" ng-repeat="ssn in guardian.person.ssns track by $index">
                <div class="col-sm-4 form-group">
                    <div class="sharedCol4">
                        <label>SSN: </label>
                        <input type="text" class="form-control"  ng-model="ssn.value" />
                    </div>
                    <div>
                        <span class="remove-btn" ng-show="$index >0"><a href="" ng-click="removeFromList(guardian.person.ssns, $index)"></a></span>
                         <span class="add-btn" ng-show="$last"><a href="" ng-click="addToList(guardian.person.ssns, $index)"></a></span>
                    </div>
                </div>  
             </section>
<!-- BIRTHDAY ///////////////////////////////////////////////////////////////////////////// -->
            <section class="birthday"  ng-repeat="bday in guardian.person.birthDates track by $index">
                <div class="col-sm-4 form-group">
                    <div class="sharedCol4">
                        <label>Birthday: </label>
                        <input type="text" class="form-control" ng-model="bday.value" datepicker />
                    </div>
                    <div>
                        <span class="remove-btn" ng-show="$index >0"><a href="" ng-click="removeFromList(guardian.person.birthDates, $index)"></a></span>
                        <span class="add-btn" ng-show="$last"><a href="" ng-click="addToList(guardian.person.birthDates, $index)"></a></span>
                    </div>
                </div>  
             </section>
        </div>
<!-- ONLINE ACTIVITIES  ///////////////////////////////////////////////////////////////////////////// -->
        <div class="sub-title">Online Activities</div>
        <section class="onlineActivity" ng-repeat="online in guardian.onlineActivities track by $index">
            <div class="h-sep" style="margin:10px 0 15px 0" ng-show="$index >0"></div>
            <div class="row">
                <div class="col-sm-4 form-group" >
                    <div class="sharedCol4">
                        <label>Activity type: </label>
                        <select class="form-control "ng-options="type.code as type.value for type in onlineActivityDropdown" ng-model="online.lookup.value"></select>
                    </div>
                </div>
                <div class="col-sm-4 form-group" >
                    <div class="sharedCol4">
                       <label>URL: </label>
                        <input type="text" class="form-control" ng-model="online.url"/>
                    </div>
                </div>
                <div class="col-sm-4 form-group" >
                    <div class="sharedCol4">
                        <label>Website: </label>
                        <input type="text" class="form-control" ng-model="online.website"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group" >
                    <div class="sharedCol12">
                        <label>Description: </label>
                        <input type="text" class="form-control" ng-model="online.description"/>
                    </div>
                    <div>
                        <span class="remove-btn" ng-show="$index >0"><a href="" ng-click="removeFromList(guardian.onlineActivities, $index)"></a></span>
                        <span class="add-btn" ng-show="$last"><a href="" ng-click="addObjectToList(guardian.onlineActivities, $index)"></a></span>
                    </div>
                </div>
            </div>
        </section>
       
<!-- LAST KNOW ADDRESS  ///////////////////////////////////////////////////////////////////////////// -->
        <div class="sub-title">Last Known Address</div>
        <div class="row">
             <section class="location" ng-repeat="location in guardian.locations track by $index">
                <div class="col-sm-4 form-group" >
                    <div class="sharedCol4">
                        <label>Address: </label>
                        <input type="text" class="form-control" ng-model="location.streetAddress" />
                    </div>
                </div>
                <div class="col-sm-4 form-group" >
                    <div class="sharedCol4">
                        <label>City: </label>
                        <input type="text" class="form-control" ng-model="location.city"/>
                    </div>
                </div>

                <div class="col-sm-4 form-group" >
                    <div class="sharedCol4">
                        <div style="width:55%; float:left">
                            <label>State: </label>
                            <input type="text" class="form-control" ng-model="location.state"/>
                        </div>
                        <div style="width:35% ; float:right">
                            <label>Zip: </label>
                            <input type="text" class="form-control" ng-model="location.zip"/>
                        </div>
                    </div>
                       

                 <div >
                        <span class="remove-btn" ng-show="$index >0"><a href="" ng-click="removeFromList(guardian.locations, $index)"></a></span>
                         <span class="add-btn" ng-show="$last"><a href="" ng-click="addObjectToList(guardian.locations, $index)"></a></span>
                    </div>
            </section>
        </div>
        <div class="h-sep" style="margin:10px 0 20px 0"  ng-show="!guardian.person.isSearchable  && guardian.person.isNew[$index]"></div>
<!-- SEARCHES  ///////////////////////////////////////////////////////////////////////////// -->   
        <div class="sub-title" ng-show="guardian.person.isSearchable">Searches</div>
        <div class="row" ng-show="guardian.person.isSearchable">
            <div class="col-sm-3 form-group"  ng-repeat="search in guardianCheckbox">
                <label >
                    <input type="checkbox"  ng-checked="guardian.searches.indexOf(search.code) != -1" ng-click="toggleCheck(search, guardian.searches)">
                     {{search.displayTxt}}
                </label>
            </div>
        </div>
<!-- COMMENTS  ///////////////////////////////////////////////////////////////////////////// -->     
        <div class="row" ng-show="guardian.person.isSearchable">
            <div class="col-sm-12 form-group">
                <label >Comment:</label>
                <textarea type="text" ng-model="guardian.comments" class="form-control" ></textarea>
            </div>
        </div>
        <div ng-show="guardian.person.isNew[$index]">
            <button class="btn-primary" ng-click="removeFromList(guardianList, $index)">REMOVE THIS GUARDIAN</button>
        </div>
    </section>
<form>
