<form role="form">
    <section class="guardian" ng-repeat="guardian in guardianList track by $index">
        <div ng-show="$index >0"  class="pers-sep"></div>
<!-- TITLE ///////////////////////////////////////////////////////////////////////////// -->
        <div class="sub-title">Guardian {{$index + 1}}
            <div style="float: right">
                <label>
                <input type="checkbox" ng-model="guardian.person.isSearchable"><span class="headerLabel"> Conduct Searches</span>
                </label>
                <label>
                    <input type="checkbox" ng-model="guardian.person.isInReport"><span class="headerLabel">  Include in Report </span>
            </label>
            </div>
        </div>
<!-- NAMES ///////////////////////////////////////////////////////////////////////////// -->
        <section class="name" ng-repeat="guardianName in guardian.person.names track by $index">
            <div class="row ">
                <div class="col-sm-4 form-group">
                    <label>First Name: </label>
                    <input type="text" class="form-control" ng-model="guardianName.firstName" />
                </div>
                <div class="col-sm-4 form-group">
                    <label>Middle Name: </label>
                    <input type="text" class="form-control" ng-model="guardianName.middleName" />
                </div>
                <div class="col-sm-3 form-group">
                    <label>Last Name: </label>
                    <input type="text" class="form-control" ng-model="guardianName.lastName" />
                </div>
                <div class="col-sm-1 form-group">
                      <span class="add-btn"><a href="" ng-click="addObjectToList(guardian.person.names, $index)"></a></span>
                    <span class="remove-btn" ng-show="$index >0"><a href="" ng-click="removeFromList(guardian.person.names, $index)"></a></span>
                </div>
            </div>
        </section>
<!-- GENDER RELATION EMAIL ////////////////////////////////////////////////////////////////////////// -->
        <div class="row ">
            <div class="col-sm-4 form-group">
                <label>Gender: </label>
                <input type="text" class="form-control" ng-model="guardian.person.gender.value" />
            </div>
            <div class="col-sm-4 form-group">
                <label>Relation to Child: </label>
                <input type="text" class="form-control" ng-model="guardian.relationToChild.value"  />
            </div>
            <section class="email"  ng-repeat="guardianEmail in guardian.emails track by $index">
                <div class="col-sm-3 form-group">
                    <label>Email: </label>
                    <input type="text" class="form-control" ng-model="guardianEmail.value" />
                </div>
                <div class="col-sm-1 form-group">
                    <span class="add-btn"><a href="" ng-click="addToList(guardian.emails, $index)"></a></span>
                    <span class="remove-btn" ng-show="$index >0"><a href="" ng-click="removeFromList(guardian.emails, $index)"></a></span>
                </div>
            </section>
<!-- HOME PHONE  ///////////////////////////////////////////////////////////////////////////// -->
            <section class="homephone"  ng-repeat="guardianHomephone in guardian.person.homePhones track by $index">
                <div class="col-sm-3 form-group">
                    <label>Home Phone: </label>
                    <input type="text" class="form-control" ng-model="guardianHomephone.value" />
                </div>
                    <div class="col-sm-1 form-group">
                        <span class="add-btn"><a href="" ng-click="addToList(guardian.person.homePhones, $index)"></a></span>
                        <span class="remove-btn" ng-show="$index >0"><a href="" ng-click="removeFromList(guardian.person.homePhones, $index)"></a></span>
                    </div>
             </section>
<!-- CELL PHONE  ///////////////////////////////////////////////////////////////////////////// -->
            <section class="cellphone"  ng-repeat="guardianCellphone in guardian.person.cellPhones track by $index">
                <div class="col-sm-3 form-group">
                    <label>Cell Phone: </label>
                    <input type="text" class="form-control" ng-model="guardianCellphone.value" />
                </div>
                    <div class="col-sm-1 form-group">
                        <span class="add-btn"><a href="" ng-click="addToList(guardian.person.cellPhones, $index)"></a></span>
                        <span class="remove-btn" ng-show="$index >0"><a href="" ng-click="removeFromList(guardian.person.cellPhones, $index)"></a></span>
                    </div>
             </section>
<!-- SSN  ///////////////////////////////////////////////////////////////////////////// -->
            <section class="ssn" ng-repeat="guardianSSN in guardian.person.ssns track by $index">
                <div class="col-sm-3 form-group">
                    <label>SSN: </label>
                    <input type="text" class="form-control"  ng-model="guardianSSN.value" />
                </div>
                    <div class="col-sm-1 form-group">
                        <span class="add-btn"><a href="" ng-click="addToList(guardian.person.ssns, $index)"></a></span>
                        <span class="remove-btn" ng-show="$index >0"><a href="" ng-click="removeFromList(guardian.person.ssns, $index)"></a></span>
                    </div>
             </section>
<!-- BIRTHDAY ///////////////////////////////////////////////////////////////////////////// -->
            <section class="birthday"  ng-repeat="guardianBBD in guardian.person.birthDates track by $index">
                <div class="col-sm-3 form-group">
                    <label>Birthday: </label>
                    <input type="text" class="form-control" ng-model="guardianBBD.value" datepicker />
                </div>
                    <div class="col-sm-1 form-group">
                        <span class="add-btn"><a href="" ng-click="addToList(guardian.person.birthDates, $index)"></a></span>
                        <span class="remove-btn" ng-show="$index >0"><a href="" ng-click="removeFromList(guardian.person.birthDates, $index)"></a></span>
                    </div>
             </section>
        </div>
<!-- ONLINE ACTIVITIES  ///////////////////////////////////////////////////////////////////////////// -->
        <div class="sub-title">Online Activities</div>

        <div class="row">
            <section class="onlineActivity" ng-repeat="online in guardian.onlineActivities track by $index">
                <div class="col-sm-3 form-group" >
                     <label>Activity type: </label>
                    <select class="form-control "ng-options="type.code as type.value for type in onlineActivityDropdown" ng-model="online.lookup.value">
                    </select>
                </div>
                <div class="col-sm-3 form-group" >
                       <label>URL: </label>
                        <input type="text" class="form-control" ng-model="online.url"/>
                 </div>
                    <div class="col-sm-2 form-group" >
                       <label>Website: </label>
                        <input type="text" class="form-control" ng-model="online.website"/>
                 </div>

                  <div class="col-sm-3 form-group" >
                       <label>Description: </label>
                        <input type="text" class="form-control" ng-model="online.description"/>
                 </div>

                 <div class="col-sm-1 form-group">
                        <span class="add-btn"><a href="" ng-click="addObjectToList(guardian.onlineActivities, $index)"></a></span>
                        <span class="remove-btn" ng-show="$index >0"><a href="" ng-click="removeFromList(guardian.onlineActivities, $index)"></a></span>
                    </div>
            </section>
        </div>
<!-- LAST KNOW ADDRESS  ///////////////////////////////////////////////////////////////////////////// -->
        <div class="sub-title">Last Known Address</div>
        <div class="row">
            <section class="location" ng-repeat="location in guardian.locations track by $index">
                <div class="col-sm-3 form-group" >
                     <label>Address: </label>
                      <input type="text" class="form-control" ng-model="location.streetAddress" />
   
                </div>
                <div class="col-sm-3 form-group" >
                       <label>City: </label>
                        <input type="text" class="form-control" ng-model="location.city"/>
                 </div>
                    <div class="col-sm-2 form-group" >
                       <label>State: </label>
                        <input type="text" class="form-control" ng-model="location.state"/>
                 </div>

                  <div class="col-sm-3 form-group" >
                       <label>Zip: </label>
                        <input type="text" class="form-control" ng-model="location.zip"/>
                 </div>
                 <div class="col-sm-1 form-group">
                        <span class="add-btn"><a href="" ng-click="addObjectToList(guardian.locations, $index)"></a></span>
                        <span class="remove-btn" ng-show="$index >0"><a href="" ng-click="removeFromList(guardian.locations, $index)"></a></span>
                    </div>
            </section>
        </div>
        <div class="h-sep" style="margin:10px 0 20px 0"  ng-show="!guardian.person.isSearchable  && guardian.person.isNew[$index]"></div>
<!-- SEARCHES  ///////////////////////////////////////////////////////////////////////////// -->   
        <div class="sub-title" ng-show="guardian.person.isSearchable">Searches</div>
        <div class="row" ng-show="guardian.person.isSearchable">
            <div class="col-sm-3 form-group"  ng-repeat="search in guardianCheckbox">
                <label >
                    <input type="checkbox"  ng-checked="guardian.searches.indexOf(search.code) != -1" ng-click="toggleCheck(search, guardian.searches)">
                     {{search.displayTxt}}
                </label>
            </div>
        </div>
<!-- COMMENTS  ///////////////////////////////////////////////////////////////////////////// -->     
        <div class="row" ng-show="guardian.person.isSearchable">
            <div class="col-sm-12 form-group">
                <label >Comment:</label>
                <textarea type="text" ng-model="guardian.comments" class="form-control" ></textarea>
            </div>
        </div>
        <div ng-show="guardian.person.isNew[$index]">
            <button class="btn-primary" ng-click="removeFromList(guardianList, $index)">REMOVE THIS GUARDIAN</button>
        </div>
    </section>
<form>
